// start .sAdvantage
.sAdvantage {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sAdvantage

.section-title{
	&__p{
		margin: 20px 0 60px;
		font-size: 18px;
	}
}

.item{
	text-align: center;

	&__img{
		margin: 20px auto 15px;
		padding: 30px;
		border-radius: 100%;
		background: $light;
		width: 100px;
		height: 100px;
	}
}
