mixin sAccordion(data)
	// start sAccordion
	+b.SECTION.sAccordion.section#sAccordion&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 Функции  чат-бота для ваших клиентов
				+e.P.p Чат-бот в Telegram
			.row
				//- mixin accordion(t, p)
				//- 	//- .col-12
				//- 	//- 	+b.accardion--js.active
				//- 	//- 		+e.head--js.haircut-help-accordion__h
				//- 	//- 			h5= t
				//- 	//- 			+e.IMG(src='img/svg/arrow-down.svg').i
				//- 	//- 		+e.content--js.haircut-help-accordion__p.active
				//- 	//- 			p= p
	// end sAccordion